/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

/* DESIGN SYSTEM */
:root {
    --clr-primary-txt: #303b59;
    --clr-primary-bkdg: #ecf2ff;
    --clr-li-bkdg-reaction: #fff6f6;
    --clr-li-txt-reaction: #ff5555;
    --clr-li-bkdg-memory: #fffbf4;
    --clr-li-txt-memory: #ffb21e;
    --clr-li-bkdg-verbal: #f2fcf9;
    --clr-li-txt-verbal: #00bb8f;
    --clr-li-bkdg-visual: #f3f4fd;
    --clr-li-txt-visual: #1125d6;
    --clr-bkgd-gradient: linear-gradient(#7755ff,#2f2ce9);
    --clr-circle-gradient: linear-gradient(#4d21c9, #2521c9);

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-1000: 80px;

    --line-height-small-txt: 130%;
    --font-size-xs: 16px;
    --font-size-s: 18px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 56px;
    --font-size-xxl: 72px;
}

/* BASE CLASSES - default styles for html elements */
@font-face {
    font-family: 'HankenGrotesk';
    src: url('/assets/fonts/HankenGrotesk-VariableFont_weight.tff') format('truetype');
}

body {
    font-family: 'HankenGrotesk', sans-serif;
    font-size: var(--font-size-xs);
    background-color: var(--clr-primary-bkdg);
}

/* LAYOUT CLASSES */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result, .score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    display: flex;
    flex-direction: column;
}

/* MODULE CLASSES - indep components or elements like buttons */

/* STATE CLASSES */