/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

/* DESIGN SYSTEM */



/* STYLING */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}