/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

/* DESIGN SYSTEM */
:root {
    --clr-secondary-txt-dark: #303b59;
    --clr-secondary-txt-light: #cac9ff;
    --clr-primary-bkdg: #ecf2ff;
    --clr-li-bkdg-reaction: #fff6f6;
    --clr-li-txt-reaction: #ff5555;
    --clr-li-bkdg-memory: #fffbf4;
    --clr-li-txt-memory: #ffb21e;
    --clr-li-bkdg-verbal: #f2fcf9;
    --clr-li-txt-verbal: #00bb8f;
    --clr-li-bkdg-visual: #f3f4fd;
    --clr-li-txt-visual: #1125d6;
    --clr-result-gradient: linear-gradient(#7755ff,#2f2ce9);
    --clr-score-gradient: linear-gradient(#4d21c9, #2521c9);

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-1000: 80px;

    --line-height-small-txt: 130%;
    --font-size-xs: 16px;
    --font-size-s: 18px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 56px;
    --font-size-xxl: 72px;
}

/* BASE CLASSES - default styles for html elements */
@font-face {
    font-family: 'HankenGrotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'HankenGrotesk', sans-serif;
    font-size: var(--font-size-xs);
    background-color: var(--clr-primary-bkdg);
}

button {
    color: white;
    background-color: var(--clr-secondary-txt-dark);
}

/* LAYOUT CLASSES */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.cross-axis-center {
    align-items: center;
}

.result {
    background: var(--clr-result-gradient); /* linear gradient is an image type, background-color only for single solid color val */
}

.score {
    background: var(--clr-score-gradient);
}

.summary {
    background-color: white;
}


/* MODULE CLASSES - indep components or elements like buttons */
.emph-txt {
    color: white;
}

.secondary-txt-dark {
    color: var(--clr-secondary-txt-dark);
}

.secondary-txt-light {
    color: var(--clr-secondary-txt-light);
}

.score-grade {
    color: black;
}

.reaction-txt {
    color: var(--clr-li-txt-reaction);
}

.reaction-score {
    background-color: var(--clr-li-bkdg-reaction);
}

.memory-txt {
    color: var(--clr-li-txt-memory);
}

.memory-score {
    background-color: var(--clr-li-bkdg-memory);
}

.verbal-txt {
    color: var(--clr-li-txt-verbal);
}

.verbal-score {
    background-color: var(--clr-li-bkdg-verbal);
}

.visual-txt {
    color: var(--clr-li-txt-visual);
}

.visual-score {
    background-color: var(--clr-li-bkdg-visual);
}

 
/* STATE CLASSES */